<h1>Name your Tamagotchi!</h1>

<form action="/pet" method="post">
  <label for="name">Name</label>
  <input require id="name" name="name" type="text">

  <button type="submit" class="btn btn-primary">Create!</button>
</form>
